
  .wrapper {
   
    display: flex;
  } 
 
  
  .section_main{
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  